
*{
    margin:0;
    padding:0;
    color:#f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body{
    overflow: scroll;

}
/* Navigation */
nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #053742;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

/* Styling Logo*/

.logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
}

.logo img{
    height: auto;
    width: 4rem;
}

/* Styling Navigation Links*/

.links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 600;
}

.links li a{
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}

.links li a:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.links li{
    position:relative;
}

.links li a:hover::before{
    width: 80%;
}
/* Main */

/* Content */
.content
{
    /* Positioning */
    /*float: top;*/
    clear-side: both;
    position: center;
    /* Sizing */
    height: 95%;
    width: 90%;
    margin: auto;
    padding: 8.5vw 2.0vw;
    /* Colors */
    background-color: darkred;
}

/* Members */
#members
{
    margin: inherit;
    padding: 15px;
}

/* Description */
#description {
    /*margin: inherit;*/
    padding: 22px;
    background-color: #FCAF45;
    margin: 18px;
}



/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .links{
        background: #053742;
        position: fixed;
        opacity: 1;
        height: 100vh;
        width: 100%;
        clip-path: circle(50px at 90% -20%);
        transition: all 1s ease-out;
        flex-direction: column;
        pointer-events: none;
    }
    .links.open{
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .links li{
        opacity: 0;
    }
    .links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    /* Navigation Bar Icon on Click*/

    .toggle .bars1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .bars2{
        transition: all 0s ease;
        width: 0;
    }

    .toggle .bars3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

}

 /*PLAY BUTTON */
.btn-play{
    padding: 20px 35px;
    font-size: 30px;
    text-align: center;
    /*cursor: pointer;*/
    color: white;
    background-color: #5851DB;
    border-radius: 25px;
    box-shadow: 0 9px grey;

}

.btn-play:active{
    box-shadow: 0 5px #666;
    transform: translateY(3px);
    /*opacity: 1;*/  /* NOT working */
}
.center {  /* center the button based on the main margin */
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

.instructions{
    position: relative;
    top: 100px;
    background-color: #FCAF45;
    padding: 22px;
    margin: 18px;
}

/* TEAM section */
.wrapper{
    position: relative;
    top: 100px;
    background-color: #FCAF45;
    padding: 22px;
    margin: 18px;
}

.team{
    display: flex;
    text-align: -moz-left;
    width: auto;
    justify-content: center;
}
.team-member h2{
    padding: 15px;
    color: indianred;
    margin-top: 30px;
}

.team-member{
    background: #55ACEE;
    margin-top: 4px;
    border: black;
    margin-left: 2px;
    margin-right: 1px;
    margin-bottom: 80px;
    width: 300px;
    padding: 10px;
    line-height: 18px;
    color: darkgray;
    position: relative;
}

.team-member p.roles{
    font-size: 12px;
    color: grey;
    margin: 12px 0;
    text-transform: uppercase;
    text-align: center;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 44%;
    position: absolute;
    top: -40px;
}

/*SOCIAL MEDIA*/
/* Style the links inside the sidenav*/
#ft-social-MysideMedia a {
    position: absolute; /* Position them relative to the browser window*/
    left: -100px; /* Position them outside of the screen*/
    transition: 0.3s; /* Add transition on hover*/
    padding-top: 13px; /* 15px */
    padding-bottom: 13px; /* 15px */
    width: 100px; /* Set a specific width*/
    font-size:22px; /* Increase font size*/
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side*/
}

#ft-social-MysideMedia a:hover {
    left: 0; /* hover with your mouse to make the media appear*/
}

.facebook {
    padding-left: 28px;
    top: 20px;
    background: #3B5998;
    color: white;
    text-decoration: none; /* Remove underline*/
}

.twitter {
    padding-left: 28px;
    top: 80px;
    background: #55ACEE;
    color: white;
    text-decoration: none;
}
.instagram{
    padding-left: 28px;
    top: 140px;
    background:linear-gradient(to bottom, #405DE6 0%, #5851DB 10%, #833AB4 20%, #833AB4 30%,#C13584 40%,#E1306C 50%,
    #FD1D1D 60%,#F56040 70%,#F77737 80%,#FCAF45 90%,#FFDC80 100% );
    color: white;
    text-decoration: none;
}

.youtube {
    padding-left: 28px;
    top: 200px;
    background: #bb0000;
    color: white;
    text-decoration: none;
}

.sideMedia {

     position: sticky;
     position: fixed;
     bottom: 70%;
     opacity: 1; /* fade the color*/
     transition: 0.3s;
 }

/* bottom footer styling */

ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    opacity: 0.6;
}

/* Sticks footer to bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Footer legal */
.ft-legal {
    position: relative;
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

